__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

/runs/
wandb/
mlruns/
/datasets/

*.pt
*.pth
*.onnx
*.engine
*.torchscript
*.tflite
*.pb
*.bin
*.mlmodel

*.zip
*.rar
*.7z
*.tar
*.gz

.idea/
.vscode/
.DS_Store
Thumbs.db
